body{
    margin: 0;
    padding: 50px 50px 0px 50px ;
    background-color: black;
    font-family: 'League Spartan', sans-serif;
    color: white;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.highlight{
    color: skyblue;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.half-wid{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-wid img{
    width: 100%;
    
}
.link-button{
    text-decoration: none;
    background-color: aqua;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}
p{
    padding-bottom: 30px;
}
.mid{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-box{
    box-shadow: 10px 10px 40px #4477CE;
    height: 50%;
}
#box{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #4477CE, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}